
:root {

}


.container {
  display: flex;
  align-items: center;     
  justify-content: space-between; 
  flex-wrap: wrap;
  align-content: center;
  max-width: 1062px;
  width: 100%;
   margin: 0 auto;
    padding: 0 20px;
} 


body {
    font-family: "Inter", sans-serif; 
    margin: 0;
    padding: 0;
}

.nav-list {
  display: flex;            
  list-style: none;         
  gap: 30px;                
  margin: 0;
  padding: 0;
}


.nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 18px;
  transition: color 0.3s;
}


.nav-list a.active {
  color: #94CFFF 
}


header {
    height: 100px; 
    width: 100%;
    background: url(../img/team-group.jpg);
   background-size: 100% auto; 
    background-repeat: no-repeat;
    background-position: center 0%; 
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden
}


.btn-login {
   background-color: #050a50;   
  color: #00ccff;              
  padding: 10px 35px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500px; 
  border: 3px solid #00ccff;  
  border-radius: 45px 5px 45px 5px;
  cursor: pointer;
  outline: none;
  font-family: "Headland One" sans-serif; 
  width: 158px;
  height: 46px;
}


.btn-login:hover {
  background-color: #00ccff;
  color: #050a50;
  box-shadow: 0 0 20px rgba(0, 204, 255, 0.6); 
}


.hero {
    background: url(../img/team-group.jpg);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 740px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
   }


.switch-btn {
    width: 36px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid white;
    display: inline-flex;
    justify-content: flex-end;
    padding: 4px;
    align-items: center;
    border-radius: 50px;
}


.switch-dot {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50px;
    text-decoration: none; 
    color: white;
}


.switch {
    display: inline-flex; 
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 

    right: 100px; 
}
.hero .container {
   margin-left: 100px; 
    margin-right: auto;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: auto;
}


.navi-text, .hero-description {
  color: #ffffff;
    font-size: 18px;      
    line-height: 1.4;
    margin: 0;
    text-align: left;
    max-width: 320px;
}


.hero img {
   width: 140px;
    margin: 25px 0;          
    display: block;
}


.btn {
    background-color: #050a50;   
  color: #00ccff;              
  padding: 17px 35px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 500; 
  border: 2px solid #00ccff;  
  border-radius: 32px 5px 32px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  font-family: "Headland One" sans-serif; 
  margin-top: 40px
}


.btn:hover {
  background-color: #00ccff;
  color: #050a50;
  box-shadow: 0 0 20px rgba(0, 204, 255, 0.6); 
}


.social-icons {
    position: absolute;
    right: 200px;          
    top: 50%;           
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;  
}


.social-icons img {
    height: 30px;         
    display: block;
    transition: transform 0.3s ease;
}


.social-icons a:nth-child(1) img {
    width: 30px;
}


.social-icons a:nth-child(2) img {
    width: 34px;
}


.social-icons a:nth-child(3) img {
    width: 50px;
}


.social-icons img:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
}


.hero {
    position: relative;
}

.info-section {
    background-color: #ffffff;
    padding: 40px 0; 
    width: 100%;
}


.info-section .container {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;
}

.info-section .info-title {
    font-family: 'Arial', sans-serif; 
    font-size: 32px;
    color: #002d5a;
    line-height: 1.2;
    text-transform: uppercase;

    max-width: 950px; 
    margin: 0 auto;
}

.info-section .info-author {
    font-size: 18px;
    color: #000000;
    margin: 0 0 30px 0; 
}

.info-section .info-divider img {
    width: 220px;
    height: auto;
    display: block;
}

main .trailer-section {
    background-image: url(../img/card-featured.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 741px; 
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-left: 500px; 
    margin: 0;
}


.trailer-section .container {
    max-width: 100%;
    width: 100%;
    padding-left: 100px; 
    margin: 0;
}

.btn-trailer {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
}

.quote-block {
  background-color: #ffffff;
    padding: 40px 0; 
    width: 100%;
}

.quote-container {
  display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;
}

.quote-title {
  font-family: 'Arial', sans-serif; 
    font-size: 32px;
    color: #141414;
    line-height: 1.2;
    text-transform: uppercase;

    max-width: 780px; 
    margin: 0 0 10px 0;
}

.quote-author {
    font-size: 18px;
    color: #000000;
    margin: 0 0 30px 0; 
}

.quote-symbol img {
    width: 220px;
    height: auto;
    display: block;;
}

.language-section {
  background: url(../img/card-primary.png) no-repeat center center / cover;
  padding: 100px 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.main-heading {
  font-family: "Headland One" sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
  font-weight: 320;
  /* Цей рядок ставить текст по центру */
  text-align: center; 
  /* Якщо заголовок все одно збоку, додай ці два рядки: */
  width: 100%;
  display: block;
}


.cards-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}


.navi-card {
 width: 320px;    
  height: 240px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  padding: 50px 20px;
  position: relative; 
}

.lang-ukr {
  font-size: 18x;
  margin-bottom: 60px; 
}

.lang-navi {
  font-size: 22px;
  font-weight: bold;
}


.navi-card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px; 
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.type-arrow-right::before {
  background-image: url(../img/image-hero.png);
}

.type-arrow-left::before {
  background-image: url(../img/image-gallery.png);
}

.type-bird::before {
  background-image: url(../img/element-decorative.png);
}

.main-footer {
    position: relative;
    width: 100%;
   
    min-height: 223px; 
    
    background: url(../img/banner-section.png) no-repeat center / cover;
    
    padding: 60px 0 20px;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
   background-color: rgba(37, 62, 89, 0.75);
    
    backdrop-filter: blur(2px); 
    
    z-index: 1;
}

.footer-content {
    position: relative;
    z-index: 2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-logo {
    width: 220px;
    height: auto;
}

.footer-divider {
    width: 1px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
}

.footer-right {
    width: 600px;
}

.contact-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.dots {
    flex-grow: 1;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    margin: 0 15px;
}

.footer-right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.footer-right a:hover {
    color: #00fbff; 
}

.copyright {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    opacity: 0.5;
}